version: "2"

services:
  
  fakesensor:
    build: ./fakesensor
    volumes:
      - ./fakesensor/src:/usr/src/app/src
    depends_on:
      - signalk
    command: ["./wait-for-it.sh" , "signalk:3000", "--", "npm", "start"]
    links:
      - signalk

  signalk:
    build: ./signalk
    volumes: 
      - ./signalk/etc:/etc/signalk
    expose:
      - 3000
    ports:
      - "3000:3000"
    depends_on:
      - influx
    command: ["./wait-for-it.sh" , "influx:8086", "--",  "./startup.sh"]

  influx:
    build: ./influx
    ports:
      - "8086:8086"
    expose:
      - 8086

  grafana:
    build: ./grafana
    ports:
      - "3001:3000"

  grafana_setup:
    build: ./grafana_datasource_setup
    depends_on:
      - grafana
    command: ["./wait-for-it.sh", "grafana:3000", "--", "curl","http://admin:admin@grafana:3000/api/datasources", "-vsSg","-H", "Content-Type:application/json",  "-X", "POST",  "--data-binary", "{\"name\":\"influx\",\"type\":\"influxdb\",\"url\":\"http://influx:8086\",\"access\":\"proxy\",\"isDefault\":true,\"database\":\"boatdata\",\"user\":\"\",\"password\":\"\"}", ]