version: "2"

services:
  
  fakesensor:
    build: ./fakesensor
    volumes:
      - ./fakesensor/src:/usr/src/app/src
    depends_on:
      - signalk
    command: ["./wait-for-it.sh" , "signalk:3000", "--", "npm", "start"]
    links:
      - signalk

  signalk:
    build: ./signalk
    volumes: 
      - ./signalk/etc:/etc/signalk
    expose:
      - 3000
    ports:
      - "3000:3000"
    depends_on:
      - influx
    command: ["./wait-for-it.sh" , "influx:8086", "--",  "./startup.sh"]

  influx:
    build: ./influx
    ports:
      - "8083:8083"
      - "8086:8086"
    expose:
      - 8083
      - 8086

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"